<p class="intro">
  Pick one of the crosswords below then share the link with friends to solve together.
</p>

<%- @series_with_crosswords.each do |series, crosswords| -%>
  <h3><%= series.titleize %></h3>
  <ul>
  <%- crosswords.each do |crossword| -%>
    <li>
      <%= link_to(crossword.name, crossword_path(crossword.source, crossword.series, crossword.identifier)) %>
    </li>
  <%- end -%>
  </ul>
<%- end -%>

<p class="about">
  <strong>Several People are Solving</strong> is an experiment with multiplayer crosswords created by <a href="https://chriszetter.com">Chris Zetter</a>. You can <a href="https://github.com/zetter/multicrosser">view the code on GitHub</a>.
</p>
