/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Catamaran', sans-serif;
  letter-spacing: 0.3px;
}

strong {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.09em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  margin-top: 20px;
  margin-bottom: 2px;
  font-size: 1.1em;
}

ul  {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 5px;
}

body {
  background-color: #FCFCFC;
  padding:0;
  margin:0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.main-container {
  padding: 7px;
  padding-top: 15px;
}
 a {
   text-decoration: none;
   color: #4c79c4;
 }

.banner {
  background-color: #66a0ff;
  padding: 7px;
}

.banner a {
  color: #FFF;
}

.intro {
  margin-top: 0;
}

.about {
  margin-top: 50px;
}
