<!DOCTYPE html>
<html>
  <head>
    <title>Several People Are Solving</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet">
    <style>
       body {
         font-family: 'PT Serif', serif;
       }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
