<!DOCTYPE html>
<html>
  <head>
    <title>Several People are Solving</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:800" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <div class="banner">
      <a href="/"><h2>Several People are Solving</h2></a>
    </div>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>
